@use '$styles/variables' as var;

.card {
	border: var.$border-thickness solid var.$theme-divider;
	border-radius: var.$border-radius;
	padding: var.$padding-sm;
	.card__body {
		margin-top: var.$padding;
		margin-bottom: var.$padding;
	}
	.card__footer {
		word-wrap: break-word;
	}
	.card__footer,
	.card__header {
		padding: 8px;
	}

	&-img {
		@extend .card;
		padding: 0;
		width: 265px;
		.card__body {
			@extend .card__body;

			background-color: var.$theme-foreground;
			img {
				height: 165px;
				width: 265px;
			}
		}
	}
}
