@use '$styles/variables' as var;

.card {
    border: var.$border-thickness solid var.$theme-divider;
    border-radius: var.$border-radius;
    padding: var.$padding-sm;
    .card__body {
        margin-top: var.$padding;
        margin-bottom: var.$padding;
    }
    .card__footer {
        word-wrap: break-word;
    }

    &-img {
        @extend .card;
        padding: 0;
        width: 225px;
        .card__body {
            height: 125px;
            width: 225px;
            background-color: var.$theme-foreground;
        }

        .card__footer, .card__header {
            padding: 8px;
        }
    }

    
}