@use '$styles/variables' as var;
@use '$styles/breakpoints' as b;

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var.$padding-sm;
	position: sticky;
	top: 0;

	&.active {
		background-color: var.$theme-background;
		border-bottom: var.$border-thickness solid var.$theme-divider;
	}

	.navbar__links {
		display: none;
		align-items: center;
		justify-content: center;
		gap: var.$padding-md;
		@include b.break(md) {
			display: flex;
		}
		.navbar__link {
			transition: opacity 0.15s;
			font-size: var.$font-size-sm;
			font-weight: 500;
			&:hover {
				opacity: 0.7;
			}
		}
	}

	.navbar__left,
	.navbar__right {
		display: flex;
		align-items: center;
		gap: var.$padding;
	}
}
