@use 'variables' as var;

body {
	background-color: var.$theme-background;
	color: var.$theme-text;
	font-family: var.$font-family-primary;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

hr {
	border-color: var.$theme-divider;
}
